.nav {
    grid-area: n;
    background-color: darkgoldenrod;
    padding: 20px;
    font-size: 25px;
    min-height: 100%;
}

.item a {
  color: white;
    text-transform: uppercase;
}

.item a:hover {
    color: rgba(28, 26, 29, 0.8);
}

.item a.active {
    color: gold;
}

.item {
    color: white;
    padding-bottom: 10px;
}

.item:last-child {
    margin-top: 30px;
}





